@tailwind base;
@tailwind components;
@tailwind utilities;


/* Homepage Sections */
.hero-section {
	@apply flex shadow-xl md:flex-row md:gap-6 w-full h-[475px] md:h-[350px] 2xl:h-[600px] p-8 lg:p-16 xl:p-24 2xl:p-36;
}

.hero-section {
  background-image: url("../assets/b1.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  border-radius: 20px; 
}