@tailwind base;
@tailwind components;
@tailwind utilities;


/* Homepage Sections */
.hero-section {
	@apply flex flex-col md:flex-row gap-12 md:gap-6 w-full h-[475px] md:h-[350px] 2xl:h-[600px] p-12 lg:p-24 xl:p-48 2xl:p-80;
}

.hero-section {
  background-image: url("../assets/b1.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  border-radius: 20px; 
}